<h1>Input</h1>

<h2>Web Component</h2>
<p>{{wcVal}}</p>
<goa-input [value]="wcVal" (_change)="updateInput($event)"></goa-input>


<h2>Angular Reactive Forms Component using Web Component</h2>
<p>{{reactiveFormCtrl.value}}</p>
<p>Valid (min value 0): {{reactiveFormCtrl.valid}}</p>
<input [formControl]="reactiveFormCtrl" />
<goa-input [formControl]="reactiveFormCtrl"></goa-input>


<h2>Angular Template Forms Component using Web Component</h2>
<p>{{tempDrivenVal }}</p>
<input [(ngModel)]="tempDrivenVal" />
<goa-input [(ngModel)]="tempDrivenVal"></goa-input>
